django
djangorestframework
django-allauth
django-cors-headers
psycopg2
djangorestframework-simplejwt
celery
redis
requests
bs4
lxml
gevent==22.10.2 #for celery to work on windows
transformers
torch
nltk
faker